.support{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 100px 0;
    min-height: 500px;
    position: relative;
}
.support .message{
    transform: scale(0.80);
    width: 100%;
    align-self: flex-start;
}
.support h1{
    color: indigo;
    font-size: 1.8em;
    margin-top: 50px;
    
}
.support p{
    opacity: 0.7;
}
.avatars{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;

}
.circle1{
    position: absolute;
    left: -20px;
    top: 120px;
    width: 100px;
}
.circle2{
    position: absolute;
    right: -20px;
    bottom: 120px;
    width: 100px ;
    z-index: -1;
}
.avatars img{
    width: 50px;
}
.avatar2, .avatar3, .avatar4,.avatar5{
    margin-left: -25px;
}


@media screen and (max-width:950px) {
    .support{
        flex-direction: column;

    }

    }